.center {
  text-align: center;
}
.imagecenter {
  margin-left: auto;
  display: block;
  margin-right: auto;
}
.borderr {
   
  border-radius: 10px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: solid rgb(96, 193, 238);
  border-radius: 10px;
   
  width: 550px;
  padding: 10px 50px  ;
  background-color: azure;
}

.background {
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;  
}
#data{font-size: 18px;}


.josefin-sans  {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:  400px;
  font-style: normal;
}
.magin{margin: 0px 25px;}